{
  "semi": true,
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "css"
}
