{
  "submitNewStoryUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-submit-new-story")},
  "submitNewPageUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-submit-new-page")},
  "getModerationVariantUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-get-moderation-variant")},
  "assignModerationJobUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-assign-moderation-job")},
  "submitModerationRatingUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-submit-moderation-rating")},
  "triggerRenderContentsUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-trigger-render-contents")},
  "markVariantDirtyUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-mark-variant-dirty")},
  "generateStatsUrl": ${jsonencode("https://${region}-${project_id}.cloudfunctions.net/${environment}-generate-stats")}
}
